*.pyc
.idea
__pycache__/*
bipwallet/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
bipwallet.egg-info
bipwallet.egg-info
Icon
/notes.txt
/venv