*.pyc
.idea
__pycache__/*
hdwallet/__pycache__/*
dist
/build
/docs/build/doctrees/*
/docs/build/html/*
/docs/build/epub/*
!/docs/build/epub/*.epub
hdwallet.egg-info
hdwallet.egg-info
Icon
/notes.txt
/venv